<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Xác nhận xóa lớp</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Xác nhận xóa lớp</h1>
    <form th:action="@{/lop/delete}" method="post">
        <div class="form-group">
            <label for="tenLop">Tên lớp:</label>
            <input type="text" class="form-control" id="tenLop" name="tenLop" th:value="${lop.tenLop}" readonly />
        </div>
        <input type="hidden" name="maLop" th:value="${lop.maLop}" />
        <input type="submit" value="Xóa" />
    </form>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
